#author-forms .input-group {
  margin-bottom: .25em;
}

#author-forms .input-group:last-child {
  margin-bottom: 0;
}

#subject-tags li {
  list-style: none;
  height: 2em;
  padding: 0 .5em;
  margin: 0 .25em .25em 0;
}