/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$body-bg: #ddd;
$topbar-height: 5rem;

body {
  height: 100vh;
  overflow: hidden;
}

@import "bootstrap/scss/bootstrap";

#wrapper {
  height: calc(100% - #{$topbar-height});
}

#topbar {
  height: #{$topbar-height};
}

#content {
  overflow-y: auto;
  height: 100%;
}

.navbar .navbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: 3rem;
  margin: auto 1rem;
}

.dropdown.no-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}

.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}